@import "reset";

$bg-color: #003399;
$heavy-border: solid 1px #999;
$light-border: solid 1px #CCC;
$selected-color: #FF0;

body {
  line-height: 1.4;
}

#container {
  width: 80%;
  margin: 1em auto;

  footer {
    clear: both;
    text-align: center;
    padding: 0.5em 0;
  }
}

#wrapper {
  float: left;
  width: 100%;

  .content {
    width: 80%;
    float: right;

    nav {
      width: 100%;
      margin-bottom: 0.5em;
      float: left;

      p.locator {
        float: left;
        font-size: 75%;
        padding: 0.5em;

        em {
          text-decoration: none !important;
        }
      }

      ul {
        float: right;
        background-color: #FFF;

        li {
          float: left;
          font-size: 75%;
          padding: 0.5em;
        }
      }

      .selected {
        color: #039;
        font-weight: bold;
      }
    }

    article {
      clear: both;
      padding: 1em;
      border: solid 1px #EEE;
      background-color: #FFF;

      h1 {
        font-size: 125%;
        color: #039;
        margin-bottom: 1em;
      }
    }
  }

  aside {
    float: left;
    width: 20%;

    section {
      margin: 0 2em 2em 0;
      font-size: 75%;

      h2 {
        margin-bottom: 0.5em;
      }

      h2:before {
        content: "■ ";
        color: #039;
      }
    }
  }
}

#search {
  .search-box {
    width: 100%;
  }
}

#wrapper:after {
  height: 0;
  clear: both;
  display: block;
}

#main-title {
  h1 {
    /* color: #666; */
    padding: 0 0.5em;
    border-left: solid 0.25em #039;
    margin-right: 1em;
  }

  margin-bottom: 1em;
}
