@import "reset";

$header-color: #333;
$em-color: #069;
$bg-color: #F8F8F8;
$border-color: #CCC;
$disabled-color: #999;
$hovered-bg-color: #CCF;
$header-bg-color: #EEE;
$even-line-bg-color: #FFF;
$odd-line-bg-color: #EEF;
$section-header-color: #009;
$added-line-color: #090;
$removed-line-color: #900;

@mixin smaller-font() {
  font-size: 75%;
}

@mixin border() {
  border: solid 1px $border-color;
}

body {
  line-height: 1.4;
  background-color: $bg-color;
}

#container {
  width: 95%;
  min-width: 800px;
  margin: 1em auto;

  h1, h2, h3, h4 {
    color: $header-color;
  }

  aside {
    float: left;
    width: 10em;
    margin-right: -10em;

    header {
      margin-bottom: 1em;

      a {
        color: $header-color;
        text-decoration: none;
      }
    }

    section {
      margin-bottom: 2em;
      @include smaller-font();

      h2 {
        margin-bottom: 0.5em;
      }

      h2:before {
        content: "■ ";
        color: $em-color;
      }
    }

    .search {
      padding: 0.5em;
      background-color: #EEE;

      input {
        width: 100%;
      }
    }

    ol {
      li:before {
        content: '-';
        margin-right: 1em;
      }

      li {
        list-style-type: none;
      }
    }
  }

  footer {
    clear: both;
    text-align: center;
    @include smaller-font();
    padding: 0.5em 0;
  }
}

#wrapper {
  float: right;
  width: 100%;

  .content {
    margin-left: 11.4em;
    position: relative;

    nav {
      margin-bottom: 0.5em;
      float: right;
      @include smaller-font();
      color: $disabled-color;

      ul {
        width: 100%;

        li {
          float: left;
          padding: 0 0.5em;
        }
      }

      a:link, a:visited {
        color: $header-color;
        text-decoration: none;
      }

      a:hover {
        text-weight: bold;
        text-decoration: underline;
      }

      .selected {
        color: $em-color;
        font-weight: bold;
      }
    }

    p.page-info {
      @include smaller-font();
      padding: 0 0.5em;
      position: absolute;
      top: 0;
      left: 0;

      em {
        color: $em-color;
        font-weight: bold;
      }
    }

    article {
      background-color: #FFF;
      clear: both;
      padding: 1em;
      margin-bottom: 1em;
      @include border();

      h1 {
        font-size: 125%;
        color: $em-color;
        padding-bottom: 0.25em;
        border-bottom: solid 1px $border-color;
      }

      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5em;
      }

      p, ul, ol, pre {
        margin-bottom: 1em;
      }

      ul, ol {
        li {
          margin-left: 1.5em;
        }
      }

      pre {
        padding: 0.5em;
        background-color: $bg-color;
        overflow: auto;
        @include border();
      }

      code {
        margin: 0 0.25em;
      }

      table.tabular {
        width: 100%;
        border-collapse: collapse;
        @include border();
        border-style: solid none;

        tr {
          th {
            background-color: $header-bg-color;
            @include border();
            border-style: solid none;
          }

          th, td {
            text-align: left;
            padding: 0 0.5em;
          }
        }

        tr.odd {
          background-color: $odd-line-bg-color;
        }

        tr.even {
          background-color: $even-line-bg-color;
        }

        em.added {
          color: #090;
        }

        em.deleted {
          color: #900;
        }
      }
    }

    article.search {
      table {
        margin: 1em 0;

        .title {
          width: 10em;
        }

        td.line {
          text-align: left;
        }
      }
    }

    article.diff {
      pre {
        .section-header {
          color: $section-header-color;
        }

        .added {
          color: $added-line-color;
        }

        .removed {
          color: $removed-line-color;
        }
      }
    }

    article.history {
      em.zero {
        color: $disabled-color;
      }

      a.revision {
        display: block;
      }

      a.changes {
        display: block;
        text-decoration: none;
      }
    }

    .edit {
      text-align:right;

      textarea {
        width: 100%;
        height: 30em;
      }

      button {
        width: 10em;
      }
    }
  }
}
